
body{
     background-color: wheat;
     height: 100vh;
     width: 1000px;
     margin: auto;
    align-items: center;
}
.container{
background-color: beige;
width: 600px;
height: 450px;
margin: 100px 200px;
border-radius: 15px;
display: flex;
flex-direction: row;

}
.image{
    background-image: url(../images/image-product-desktop.jpg);
    background-size: 100% 100%;
    margin: 0;
    width:50%;
    height:250px;
    display: flex;
    padding:100px;
    border-radius: 15px;
}
.section2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    background-size: 100%;
     width: 200px;
     height: 200px;
     gap: 50px;
    margin-left: 100px;
    padding:  10px;
    gap: 200px;
}
.section2 content{
    
    background-color: beige;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.section2 button{
    border-radius: 4px;
    width: 150px;
    height: 30px;
    background-color: rgb(18, 56, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: inherit;
    padding-bottom:7px;

}
.section2 p{
    font-family:'Courier New', Courier, monospace;
    
    
}
.section2 pd{
    font-family:'Courier New', Courier, monospace;
    text-decoration: line-through;
    padding-left: 100px;   
}
@media(max-width:500px){
        .image{ 
            background-image: url(../images/image-product-mobile.jpg);
            background-size: 100% 100%;
            margin: 0;
        }

}

